flows-16.json
[
    {
        "id": "30569fd3407a0bca",
        "type": "tab",
        "label": "Monitor Internet Connectivity",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2dacf58d50e20824",
        "type": "conf ping",
        "z": "30569fd3407a0bca",
        "name": "Check Internet",
        "host": "8.8.8.8",
        "timeout": "5",
        "requests": "3",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "84a337923e761b59"
            ]
        ]
    },
    {
        "id": "1b5ea330a92a4d7d",
        "type": "exec",
        "z": "30569fd3407a0bca",
        "command": "reboot",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Reboot LTE",
        "x": 870,
        "y": 340,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "92bb8cfc7c83d7cb",
        "type": "debug",
        "z": "30569fd3407a0bca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "1c91ac8c5857c51a",
        "type": "inject",
        "z": "30569fd3407a0bca",
        "name": "",
        "props": [],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "900",
        "topic": "",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "2dacf58d50e20824"
            ]
        ]
    },
    {
        "id": "84a337923e761b59",
        "type": "switch",
        "z": "30569fd3407a0bca",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 340,
        "wires": [
            [
                "1b5ea330a92a4d7d",
                "92bb8cfc7c83d7cb"
            ]
        ]
    }
]
