flows-16.json
[
    {
        "id": "4a8e6505234e6447",
        "type": "tab",
        "label": "Monitor Internet Connectivity",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "79ddb6f44a5686c8",
        "type": "conf ping",
        "z": "4a8e6505234e6447",
        "name": "Check Internet",
        "host": "8.8.8.8",
        "timeout": "5",
        "requests": "3",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "881e2328c623e194"
            ]
        ]
    },
    {
        "id": "3a5b9f2498dc2117",
        "type": "exec",
        "z": "4a8e6505234e6447",
        "command": "",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Reboot LTE",
        "x": 870,
        "y": 340,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f636b23ec62230c3",
        "type": "debug",
        "z": "4a8e6505234e6447",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "ebed19d65b1c3314",
        "type": "inject",
        "z": "4a8e6505234e6447",
        "name": "",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "79ddb6f44a5686c8"
            ]
        ]
    },
    {
        "id": "881e2328c623e194",
        "type": "switch",
        "z": "4a8e6505234e6447",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 340,
        "wires": [
            [
                "3a5b9f2498dc2117",
                "f636b23ec62230c3"
            ]
        ]
    }
]